# Configuration de l'API
VITE_API_URL=http://localhost:9000

# Configuration de l'application
VITE_APP_NAME=Fill Rouge
VITE_APP_VERSION=1.0.0

# Configuration de l'environnement
VITE_NODE_ENV=development
